* {
	font-family: Georgia,Times,Times New Roman,serif;

}
header{
  background-color: #d59ee8;
  text-align: center;
  overflow: hidden;
  padding: 14px;
}
header a {
  font-size: 48px;

  color: #000000;
  text-decoration: none;
  padding: 14px 5%;
  text-align: justify;
margin:0 px;
}
.section-header {
    font-size: 36px;
    font-weight: bold;
}
.section-content {
    font-size: 20px;
      text-decoration: none;
  }
body{

}
footer{
  background-color:  #d59ee8;
  text-align: center;
  overflow: hidden;
  padding: 14px;
  text-decoration: none;
}
